html {
  scroll-behavior: smooth;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  overscroll-behavior: none;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  margin: 0rem;
}

strong {
  font-weight: 700;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }

  &:visited {
    color: $text-color;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  padding: 5px 8px;
}
