.campaign_progress {
    height: 4px;
    width: 100%;
    background-color: $primary-color;
    transition: transform 200ms;
}

.campaign_content-wrapper {
    overflow-x: hidden;
}

.campaign_content {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 0 20px 40px 20px;

    font-size: 1em;
    line-height: 1.5em;

    min-height: calc(100vh - 78px);
    box-sizing: border-box;
}

.campaign_content_main {
    display: grid;
    grid-column: 1 / span 4;
    column-gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    &.campaign_content_main-issue {
        grid-template-rows: auto auto 1fr;
    }

    & .scroll-dots {
        grid-column: 1 / span 4;
    }
}

.campaign_hero {
    height: 100vw;
    max-height: 50vh;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    grid-column: 1 / span 4;
    margin: 0 -20px; // todo vars
    border: 2px #aaa solid;
    background: no-repeat center / 14% url('../assets/images/placeholder-image.svg'), #eee;
}

.campaign_title {
    margin: 0 30px;
    text-align: center;
    font-family: 'PT Serif', serif;
    line-height: 1.25em;
}

.campaign_organizer {
    margin: 10px 50px;
    text-align: center;
}

.campaign_landing_description {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    grid-column: 1 / span 4;
    min-height: 3em;
}

.campaign_description {
    margin-top: 20px;
    font-family: "PT Serif", serif;
    grid-column: 1 / span 4;
    min-height: 3em;
    text-align: center;
    font-size: 1.125em;
}

.campaign_description_small {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    grid-column: 1 / span 4;
    text-align: left;
    font-size: 1em;
}

.campaign_description_tiny {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    grid-column: 1 / span 4;
    text-align: center;
    font-size: 0.8125em;
}

.campaign_description_issue {
    grid-column: 1 / span 4;
    position: relative;
    margin: 25px 0;
}

.campaign_description_issue_counter {
    position: absolute;
    top: 0;
    margin-top: -25px;
    background: #eee;
    font-size: 0.625em;
    line-height: 1.5em;
    padding: 1px 7px;
}

.campaign_button {
    background-color: #eee;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: 2 / span 2;
    height: 45px;

    &[disabled] {
        background-color: #999;
    }
}

.campaign_button-emphasized {
    background-color: #333;
    color: #fff !important; // otherwise default a:visited is used

    &[disabled] {
        background-color: #999;
    }
}

.campaign_button-one {
    grid-column: 1 / span 2;
}

.campaign_button-two {
    grid-column: 3 / span 2;
}

.campaign_button-solo {
    grid-column: 2 / span 2;
}

.campaign_actions {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 4;
    margin-bottom: 25px;
}

.campaign_action {
    padding: .35em 1.5em;
    font-size: 0.75em;
    border: 1px solid #333;
    border-radius: 3px;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.campaign_issues {
    grid-column: 1 / span 4;
}

.campaign_issue {
    display: flex;
    background-color: #eee;
    padding: 10px 20px;
    margin-bottom: 12px;

    &.selected {
        background-color: $primary-color;
    }

    &.selected-disabled {
        background-color: #999;
    }
}

.campaign_statements {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
    grid-column: 1 / span 4;
    margin: 0 -20px 0 -20px;
    padding: 0 45px;
}

.campaign_statement {
    scroll-snap-align: center;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 262px;
    min-height: 300px;
    max-height: 400px;
    background: #eee;
    border-radius: 3px;
    padding: 25px 20px;
    margin-right: 12px;

    &.selected {
        background-color: $primary-color;
    }
}

.campaign_statement_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campaign_statement_title {
    font-size: 0.8125em;
    line-height: 1.25em;
    font-weight: 700;
    align-self: flex-start;
    margin-bottom: 20px;
}

.campaign_statement_input {
    width: 100%;
    flex: 1;
    margin-bottom: 20px;;
}

.campaign_statement_button {
    padding: 2px 10px;
    font-size: .75em;
    color: #2e2e30;
    border: 1px solid #2e2e30;
    border-radius: 3px;
    line-height: 1.25em;
}

.campaign_statement_buffer {
    flex: 0 0 45px;
}

.campaign_source {
    margin-bottom: 15px;
    margin-top: 3px;
    grid-column: 4;
    font-size: .8em;
    color: #A6A2A2 !important;
    text-decoration: underline;
}

// box

.campaign_box {
    grid-column: 1 / span 4;
    background-color: #eee;
    margin-bottom: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 21px 22px 21px;
}

.campaign_box_description_small {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 11px;
    text-align: center;

    a {
        text-decoration: underline;
    }
}

.campaign_box_description {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.campaign_box_image {
    background: no-repeat center / 14% url('../assets/images/placeholder-image.svg'), #eee;
    height: 150px;
    width: 100%;
    border: 2px solid #aaa;
    margin-bottom: 14px;
}

.campaign_box_buttons {
    display: flex;
}

.campaign_box_button {
    padding: 5px 20px;
    font-size: 0.75em;
    border: 1px solid #2E2E30;
    border-radius: 3px;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.campaign_box_number {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaign_box_number_digits {
    font-weight: 700;
}

// interstitial

.campaign_interstitial_icon {
    width: 80px;
    height: 80px;
    margin-bottom: 2em;
    margin-top: 60%;
}

.campaign_interstitial_step {
    margin-bottom: .75em;
}

.campaign_interstitial_message {
    font-size: 2em;
    font-family: "PT Serif", serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
}