.campaign_content-wrapper {
    border-top: 3px solid #666;
    overflow-x: hidden;
}

.campaign_content {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 0 20px 40px 20px;

    font-size: 1em;
    line-height: 1.5em;

    min-height: calc(100vh - 78px);
    box-sizing: border-box;
}

.campaign_content_main {
    display: grid;
    grid-column: 1 / span 4;
    column-gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    &.campaign_content_main-issue {
        grid-template-rows: auto auto 1fr;
    }

    & .scroll-dots {
        grid-column: 1 / span 4;
    }
}

.campaign_hero {
    height: 100vw;
    max-height: 50vh;
    border-bottom: 1px solid $border-color;
    background: #eee;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    grid-column: 1 / span 4;
    margin: 0 -20px; // todo vars
}

.campaign_title {
    margin: 0 30px;
    text-align: center;
    font-family: 'PT Serif', serif;
    line-height: 1.25em;
}

.campaign_description {
    margin-top: 20px;
    font-family: "PT Serif", serif;
    grid-column: 1 / span 4;
    min-height: 3em;
    text-align: center;
    font-size: 1.125em;
}

.campaign_description_issue {
    grid-column: 1 / span 4;
    position: relative;
    margin: 25px 0;
}

.campaign_description_issue_counter {
    position: absolute;
    top: 0;
    margin-top: -25px;
    background: #eee;
    font-size: 0.625em;
    line-height: 1.5em;
    padding: 1px 7px;
}

.campaign_button {
    background-color: #eee;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: 2 / span 2;
    height: 45px;

    &[disabled] {
        background-color: #999;
    }
}

.campaign_button-emphasized {
    background-color: #333;
    color: #fff !important; // otherwise default a:visited is used

    &[disabled] {
        background-color: #999;
    }
}

.campaign_button-one {
    grid-column: 1 / span 2;
}

.campaign_button-two {
    grid-column: 3 / span 2;
}

.campaign_issues {
    grid-column: 1 / span 4;
}

.campaign_issue {
    display: flex;
    background-color: #eee;
    padding: 10px 20px;
    margin-bottom: 12px;

    &.selected {
        background-color: $primary-color;
    }

    &.selected-disabled {
        background-color: #999;
    }
}

/*
.campaign_custom_draft {
    display: grid;
    grid-column: 1 / span 4;

    input[type=text] {
        grid-column: 1 / span 4;
    }

    button[type=submit] {
        grid-column: 2 / span 2;
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 1em;
    }
}
*/

.campaign_statements {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    grid-column: 1 / span 4;
    margin: 0 -20px 20px -20px;
    padding: 0 45px;
}

.campaign_statement {
    scroll-snap-align: center;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 262px;
    min-height: 300px;
    max-height: 400px;
    background: #eee;
    border-radius: 3px;
    padding: 25px 20px;
    margin-right: 12px;

    &.selected {
        background-color: $primary-color;
    }
}

.campaign_statement_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campaign_statement_title {
    font-size: 0.8125em;
    line-height: 1.25em;
    font-weight: 700;
    align-self: flex-start;
    margin-bottom: 20px;
}

.campaign_statement_input {
    width: 100%;
    flex: 1;
    margin-bottom: 20px;;
}

.campaign_statement_button {
    padding: 2px 10px;
    font-size: .75em;
    color: #2e2e30;
    border: 1px solid #2e2e30;
    border-radius: 3px;
    line-height: 1.25em;
}

.campaign_statement_buffer {
    flex: 0 0 45px;
}
