.campaign_content-wrapper {
    border-top: 3px solid #666;
}

.campaign_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin: 0 20px 40px 20px;
}

.campaign_hero {
    width: 100%;
    height: 100vw;
    border: 1px black;
    background: #eee;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.campaign_title {
    margin: 0 30px;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.campaign_description {
    margin-top: 20px;
    grid-column: 1 / span 4;
}

.campaign_button {
    background-color: #eee;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: 2 / span 2;
    height: 45px;
}