.draft_body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6rem 18.5rem 18.5rem;
  column-gap: 20px;
  margin: 0 30px 40px 30px;
}

.draft_content {
  grid-column: 1 / span 4;
}

.draft_section_heading {
  grid-column: 1 / span 4;
  margin-top: 1.3125rem;
  text-align: center;
  font-size: 18px;
}

.draft_section_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0.325px;
}

.draft_section_description {
  font-size: 13px;
  font-weight: 400;
  line-height: 17.7px;
}

.draft_custom_input_text_area {
  border: 1px solid $border-secondary;
  color: $font-color;
  column-span: all;
  resize: none;
  padding: 0.8125rem 1.6875rem 3.0625rem 1rem;
  margin-bottom: 0.6875rem;
  white-space: pre-wrap;
  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $font-color-placeholder;
  }
}

.draft_input {
  border: 1px solid $border-secondary;
}

.draft_button-one {
  grid-column: 2 / span 1;

}
.draft_button-two {
  grid-column: 3 / span 1;

}
