.header {
  border-top: 5px solid #ffed60;
  display: flex;
  justify-content: center;
  padding: 1.5em;
  background-color: $background-color;
}

.header_logo {
  width: 6.25rem;
  height: 1.125rem;
}