body {
  font-family: "Open Sans", sans-serif;
  background-color: #fffef4;
  margin: 0px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

p > a {
  color: #000000;
}

p > a:hover {
  background-color: #ffed60;
}

.emailIcon:hover path:first-of-type {
  stroke: #ffed60;
}

.emailIcon:hover path:last-of-type {
  fill: #ffed60;
}

.instagramIcon:hover path:first-of-type {
  fill: #ffed60;
}

.instagramIcon:hover path:last-of-type {
  stroke: #ffed60;
}

.twitterIcon:hover path:first-of-type {
  fill: #ffed60;
}

.twitterIcon:hover path:last-of-type {
  stroke: #ffed60;
}

.banner {
  background-color: #ffed60;
  max-width: 1440px;
}

.bannerCopyWrapper {
    display: flex;
}

.bannerCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.bannerHeading {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
}

.body {
  max-width: 319px;
  margin: 56px 0px;
}

.body h2 {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #2e2e30;
}

.body p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
  color: #000000;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border-top: 5px solid #ffed60;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.footer {
  background-color: #2e2e30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 56px 0px;
  position: inherit;
  bottom: 0;
  width: 100%;
}

.logoHeading {
  width: 100px;
  height: 18px;
}

.image {
  max-width: 100%;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.imageWrapper {
  position: relative;
  max-width: 50%;
}

.imageCredit {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: grey;
  background-color: #2e2e30;
  font-size: 10px;
  padding: 5px 8px;
}

.imageCredit span > span {
  text-decoration: underline;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 56px;
}

.iconWrapper > a ~ a {
  margin-left: 34px;
}

.underlinedText {
  border-bottom: 4px solid #fffef4;
}

/* ipad */
@media only screen and (min-width: 599px) {
    .banner {
        display: flex;
    }
    .bannerCopyWrapper {
        min-width: 50%;
    }
    .bannerCopy {
        align-items: flex-start;
    }
    .body {
        max-width: 458px;
    }
    .imageWrapper {
        max-width: 50%;
    }
    .footer {
        position: inherit;
        bottom: 0;
        width: 100%;
    }
}

/* intermediate */
@media only screen and (max-width: 900px) {
  .body {
    max-width: 458px;
  }
  .bannerCopyWrapper {
    min-width: 50%;
}
  .bannerCopy {
    align-items: flex-start;
  }
  .imageWrapper {
    max-width: 50%;
  }
  .footer {
    position: inherit;
    bottom: 0;
    width: 100%;
  }
}

/* desktop */
@media only screen and (max-width: 1440px) {
  .body {
    max-width: 661px;
  }
  .banner {
      min-height: 720px;
  }
  .bannerCopyWrapper {
    min-width: 50%;
}
  .bannerCopy {
    align-items: flex-start;
  }
  .image {
    max-width: 50%;
  }
  .footer {
    position: inherit;
    bottom: 0;
    width: 100%;
  }
}
