body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fffef4;
    margin: 0px;
}

h2 {
    display: flex;
    justify-content: center;
}

.banner {
    background-color: #ffed60;
}

.banner > div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body {
    max-width: 375px;
    margin: 0px 28px
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    border-top: 5px solid #ffed60;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #2E2E30;
    fill: white;
}
.logoHeading {
    width: 100px;
    height: 18px;
    margin-top: 24px;
}

.image {
    max-width: 100%;
    height: auto;
}



@media only screen and (min-width: 599px) {
    .banner {
        display: flex;
        flex-direction: column
    }
    .body {
        max-width: 458px;
    }
    .image {
        max-width: 500%
    }
}

/* ipad */
@media only screen and (min-width: 900px) {
    .body {
        max-width: 458px;
    }
    .image {
        max-width: 50%
    }
}

@media only screen and (min-width: 1440px) {
    .body {
        max-width: 661px;
    }
    .image {
        max-width: 50%
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

.grid > * {
    grid-column: col-start / span 12;
}
