$primary-color: #ffed60;
$background-color: #fffef4;
$border-color: #333;
$border-secondary: #A6A2A2;
$font-color: #000;
$font-color-secondary: #BDBDBD;
$font-color-placeholder: #A6A2A2;

$breakpoints: (
    ipad: 600px,
    ipad-pro: 960px,
    desktop: 1280px,
    desktop-xl: 1440px
);
