boto3==1.16
Django==3.2.*
django-cors-headers==3.4.*
django-storages==1.10.*
djangorestframework==3.12.*
django-jazzmin==2.4.*
django-phonenumber-field[phonenumberslite]==5.0.*
psycopg2==2.8.*
python-dotenv==0.15.*
Pillow==8.3.*

# TODO: Prod only
gunicorn==20.0.*
