boto3==1.16
Django==3.2.8
django-cors-headers==3.10.0
django-storages==1.12.0
djangorestframework==3.12.4
django-jazzmin==2.4.8
django-phonenumber-field[phonenumberslite]==5.2.0
psycopg2==2.9.1
python-dotenv==0.19.1
Pillow==8.3.2

# TODO: Prod only
gunicorn==20.0.*
