<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- header -->
    <div class="header">
      <a href="/"><img src="<%=require('./images/Draftivist_Logotype.svg')%>" alt="Draftivist logo" class="header_logo"></a>
    </div>
    <div id="mount"></div>
  </body>
</html>